#Filter-Container{
    width: 1135px;
    margin: 3px auto 0 auto;
    /*background: #f4f1ea;*/
    height: 40px;
}

#Filter-Nav{
    /*position: fixed;*/
    width: 435px;
    list-style: none;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #eae6de;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    /*#eae5da*/
    z-index: 999;
}

#Filter-Nav li{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#Filter-Nav a{
    cursor: pointer;
    margin: 0 10px 0 10px;
    height: 30px;
    /*width: 120px;*/
    text-align: center;
    line-height: 29px;
    color: #382110;
    box-sizing: border-box;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 15px;

}

#Genres-Button{
    border: 1px solid #beb7b3;
    width: 82px;
}
#Genres-Menu, #Release-Menu{
    position: absolute;
    top: 100px;
    background-color: #f4f1ea;
    z-index: 5;
    width: 270px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    /*animation: fadeinout 0.5s linear forwards;*/
    animation: fadein 0.2s;
    /*left: 283px;*/
    height: 200px;
    padding: 10px
}

#Genres-Menu::before, #Release-Menu::before{
    position:absolute;
    display:block;
    content:"";
    background-color: #f4f1ea;
    border: 1px solid #f4f1ea;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    left: 68px;
    top: -5px;
}

#Genre-Options-Container{
    width:100%;
    height:80%;
    display: flex;
    flex-wrap: wrap;
}

.Genre-Options{
    width: 40%;
    border: 1px solid #beb7b3;
    display: flex;
    justify-content: space-evenly;
}

.Genre-Mark{
    width: 19px;
    height: 18px;
    padding-top: 3px;
}

#Genre-Mark-Checked{

}

#ReleaseYear-Button{
    border: 1px solid #beb7b3;
    width: 120px;
}

/*#Release-Menu{*/

/*}*/

#Rating{
    border: 1px solid #beb7b3;
    width: 82px;
}

.Menu-Header{
    height: 20%;
    width: 100%;
}

.Menu-Title{
    font-size: 23px;
    color: #4a3d24;
    cursor: default;
}

#Slider-Container{
    text-align: center;
    display:block;
}

#Slider-Form{

}

#Year, #Month{
    margin: 0;
    display: block;
    text-align: center;
    width: 97%;
    color: #4a3d24;
    font-size: 16px;

}


#Release-Submit{
    display: block;
    margin-top: 25px;
    border: 1px solid #beb7b3;
    width: 30%;
    height: 25px;
    text-align: center;
}

.Slider{
    -webkit-appearance: none;
    apperance: none;
    cursor: grab;
    touch-action:  pan-y;
    width: 97%;
    background-color: #4f3b2d;
    border: 1px solid #beb7b3;
}

.Slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background-color: #dbd1d1;
    height: 14px;
    width: 14px;
}

.Slider::-moz-range-thumb{
    border-radius: 50%;
    background-color: #dbd1d1;
    height: 13px;
    width: 13px;
}

.Filter-Span{
    margin-right: 5px;
}

.Chevron-Down{
    width: 13px;
    height: 8px;
}

#Filter-Options-Container:hover{
    opacity: 60%;
}

/*#Genres-Button:hover, #ReleaseYear-Button:hover, #Rating:hover{*/
/*    color: #8c7f76;*/
/*}*/

#Reset-Filters{
    height: 30px;
    width: 80px;
    border: none;
    background-color: #eae6de;
    color: #aca49f;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    cursor: pointer;
    font-size: 14px;
}

@keyframes fadein {
    from { opacity: 0;}
    to {opacity: 1;}
}

/*@keyframes fadeinout {*/
/*    0% {opacity: 0;}*/
/*    50% {opacity: 1;}*/
/*    100% {opacity: 0;}*/
/*}*/